.container{
    margin-top:70px;
    padding-right:50px;
}
h1{
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
}
.btn-add{
    color:white;
    background-color: purple;
    border-color: purple;
}
.btn-update{
    color:white;
    background-color: rgb(197, 82, 126);
     border-color: rgb(197, 82, 126);
}
.btn-clear{
    color:white;
    background-color: rgb(236, 134, 17);
    border-color: rgb(236, 134, 17);
}
.btn-delete{
    color:white;
    background-color: rgb(175, 58, 4);
    border-color: rgb(175, 58, 4);
}